body{
    max-width:1200px ;
    margin: 0 auto;
}
li{
    list-style-type:none;
    font-size: 18px;
}
a{
    text-decoration: none;
}
/* header start */
.header{
    width: 100%;
    height: 100px;
    background-color: rgba(45, 79, 255, 0.71);
    display: flex;
}
.header p{
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0 0 40px ;
    margin: 0;
    width: 70%;
}
.header p a{
    color: white;
}
.right_header{
    width:30%
}
.right_header ul{
    display: flex;
    float: right;
}
.right_header ul li{
    font-size: 16px;
    margin: 30px 20px 0 0px;
}
.right_header a{
    color: black;
}
.right_header a:hover{
    color: #5d5d5d;
}
    /* header end */

.content{
    width: 100%;
    height: auto;
    display: flex;
}
.col-left, .col-right{
    width: 25%;
    background-color: rgba(172, 172, 172, 0.67);
}
.col-left a{
    color: black;
}
.col-middle{
    width: 50%;
    margin-bottom: 25px;
}
.days ul{
    width: 100%;
    margin-top: 30px;
    padding: 0;
}
.days li{
    text-align: center;
}
.days li span{
    color: #474747;
    font-size: 12px;
}

.projects p{
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}
.projects ul{
    width: 100%;
    margin: 5px 5%;
    padding: 0;
    display: flex;
}
.projects li{
    text-align: center;
}
.projects li span{
    color: #474747;
    font-size: 12px;
}
.add_project {
    display: none;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    border-radius: 5px;
}
.add_project div{
    margin: 5% 10%;

}
.add_project div select{
    width: 30%;
    margin: 10% 0 ;

}
.add_project div input{
    width: 60%;
    padding-left: 5px;
}
.pro_btn{
    width: 30%;
    height: 30px;
    border: 0;
    border-radius: 2px;
    background-color: rgb(105, 130, 255);
    font-size: 14px;
    color: white;
    margin-left: 12%;
}

.pro_menu{
    display: none;
    margin: 0 0 0 30px;
    font-size: 16px;
}
.second{
    text-align: right;
}
/* Auth styles start */

.auth{
    width: 25%;
    margin: 10% auto;
}
.auth input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
}
.auth h3{
    text-align: center;
}
.btn-auth{
    width: 30%;
    height: 30px;
    border: 0;
    border-radius:18px;
    background-color: rgb(105, 130, 255);
    color: white;
    font-size: 16px;
    margin: 20px 0 0 35%;
}
.btn-auth:hover, .btn_add:hover, .pro_btn:hover{
    background-color: rgba(90, 96, 192, 0.98);
}
.add_pro_btn{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    border-top: 1px solid gray;
}
.btn_add{
    width: 40%;
    height: 30px;
    border: 0;
    border-radius: 2px;
    background-color: rgb(105, 130, 255);
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

.errors{
    text-align: center;
}
.errors p{
    border: 1px dotted gray;
    text-align: center;
    color: red;
}
.errors span{
    margin-top: 10px;
    font-size: 18px;
}
/* Auth styles end */


/* Tasks styles end */
.tasks, .old_tasks{
    width: 98%;
    margin-left: 1%;
}

.old_tasks .single_task ul{
    background-color: #ff00006e;
}
.single_task ul{
    display: flex;
    border-bottom: 1px solid gray;
    height: 35px;
    padding: 0;
    margin: 0;
}
.single_task ul li{
  margin: 8px 0 0 10px;
}
.square_color{
    width: 3%;
}
.pname, .tname{
    width: 44%;
}
.pname{
    text-align: right;
}
.square_color img, .circle_color img{
    width: 15px;
}
.circle_color{
    width: 3%;
    text-align: right;
    padding-right: 10px;
    margin-left: 30%;
}
.task_menu{
    width: 30%;
    display: none;
    margin-right: 20%;
}
.task_menu span{
    display: flex;
    margin-right: 5px;
}
.task_menu a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin: 0 0 0 5px;
    padding: 0;
}

.add_task_btn{
    width: 45%;
    margin-left: 1%;
}

#preview {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.54);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.add_task_div{
    width: 30%;
    position: relative;
    margin: 10% auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000
}
.add_task_div span img{
    float: right;
    margin: 1% 1% 0 0;
}
.add_task{
    padding: 8% 0 9% 4%;
}
.add_task input{
    padding-left: 5px;
}
/* Tasks styles end */
.footer{
    height: 25px;
    background-color: rgba(45, 79, 255, 0.71);
}

