body{
    max-width:1200px ;
    margin: 0 auto;
}
li{
    list-style-type:none;
    font-size: 18px;
}
a{
    text-decoration: none;
}
/* header start */
.header{
    width: 100%;
    height: 100px;
    background-color: rgba(45, 79, 255, 0.71);
    display: flex;
}
.header p{
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0 0 40px ;
    margin: 0;
    width: 70%;
}
.header p a{
    color: white;
}
.right_header{
    width:30%
}
.right_header ul{
    display: flex;
    float: right;
}
.right_header ul li{
    font-size: 16px;
    margin: 30px 20px 0 0px;
}
.right_header a{
    color: black;
}
.right_header a:hover{
    color: #5d5d5d;
}
    /* header end */

.content{
    width: 100%;
    height: auto;
    display: flex;
}
.col-left{
    width: 25%;
    background-color: rgba(149, 149, 149, 0.67);
    height: 500px;
}
.col-middle{
    width: 50%;
}
.col-right{
    width: 25%;
    background-color: rgba(149, 149, 149, 0.67);
    height: 500px;
}
.days ul{
    width: 100%;
    margin-top: 30px;
    padding: 0;
}
.days li{
    text-align: center;
}
.days li span{
    color: #474747;
    font-size: 12px;
}

.projects p{
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}
.projects ul{
    width: 100%;
    margin: 5px 38%;
    padding: 0;
    display: flex;
}
.projects li{
    text-align: center;
}
.projects li span{
    color: #474747;
    font-size: 12px;
}
.pro_menu{
    display: block;
    margin: 0 0 0 30px;
    font-size: 16px;
}
.second{
    text-align: right;
}
/* Auth styles start */

.auth{
    width: 25%;
    margin: 10% auto;
}
.auth input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
}
.auth h3{
    text-align: center;
}
.btn-auth{
    width: 30%;
    height: 30px;
    border: 0;
    border-radius:18px;
    background-color: rgb(105, 130, 255);
    color: white;
    font-size: 16px;
    margin: 20px 0 0 35%;
}
.btn-auth:hover{
    background-color: rgba(90, 96, 192, 0.98);
}

.errors{
    text-align: center;
}
.errors p{
    border: 1px dotted gray;
    text-align: center;
    color: red;
}
.errors span{
    margin-top: 10px;
    font-size: 18px;
}
/* Auth styles end */


/* Tasks styles end */
.tasks, .old_tasks{
    width: 98%;
    margin-left: 1%;
}
.old_tasks{
    border-bottom: 1px solid #2f49ff;
}
.old_tasks .single_task ul{
    background-color: #ff00006e;
}
.single_task ul{
    display: flex;
    border-bottom: 1px solid gray;
    height: 35px;
    padding: 0;
    margin: 0;
}
.single_task ul li{
  margin: 8px 0 0 10px;
}
.square_color{
    width: 3%;
}
.pname, .tname{
    width: 44%;
}
.pname{
    text-align: right;
}
.square_color img, .circle_color img{
    width: 15px;
}
.circle_color{
    width: 3%;
    text-align: right;
    padding-right: 10px;
}
.task_menu{
    width: 2%;
}
/* Tasks styles end */


.footer{
    height: 35px;
    background-color: rgba(45, 79, 255, 0.71);
}
.footer p{
    color: white;
    font-size: 16px;
    text-align: center;
}
